<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>login please</h3>
    <input type="text" id="username" placeholder="username">
    <input type="text" id="password" placeholder="password">
    <button id="login">login</button>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script>
    $('#login').on('click', function() {
        $.ajax({
            url: '/login',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                username: $('#username').val(),
                password: $('#password').val()
            }),
            success: function(data) {
                if (data.code === 200) {
                    window.location = '/other_page'
                }
            },
            error: function(data) {
                console.log(data.code)
            }
        })
    })
</script>

</html>